.main-container {
  display: flex;  
  width: 100%;
  margin: 0px auto;
  flex-direction: column;
  height: 100%;
  background-color: #EFEFEF;
}

.token-group-container {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

/*

#f8e9a1
#f76c6c
#a8d0e6
#374785
#24305e

*/
